
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/argument_form' %>
      </section>
      
    </aside>
    <div class="span8">
      <h3>Argument Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div clas	s="center hero-unit">
    <h1>Welcome to Orocite</h1>

    <h2>
      Become hated by all your friends!
    </h2>
 
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
